<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mayday.dao.UserDao">

    <resultMap id="UserModelMap" type="com.mayday.model.UserModel" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="userName" property="userName" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="createTime" property="createTime" jdbcType="DATE" />
        <result column="lastLoginTime" property="lastLoginTime" jdbcType="DATE" />
        <result column="status" property="status" jdbcType="INTEGER" />
    </resultMap>

    <!-- 登录  -->
    <select id="login" resultMap="UserModelMap" parameterType="UserModel">

        SELECT * FROM USER WHERE userName = #{userName} AND  password=#{password}

    </select>


    <!-- 更新用户信息 -->

    <update id="updateUserByPrimaryKey" parameterType="UserModel">
        UPDATE USER
        <set>
            <if test="userName != null">
                userName=#{userName},
            </if>
            <if test="email != null">
                email=#{email},
            </if>
            <if test="password != null">
                password=#{password},
            </if>
            <if test="lastLoginTime != null">
                lastLoginTime=#{lastLoginTime},
            </if>
            <if test="status != null">
                status=#{status}
            </if>

         WHERE id=#{id}

        </set>
    </update>




</mapper>